<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/index.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/formstyle.css" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>FLask-Password-App</title>
</head>

<body>
  {% raw %}
  <div class="sidenav">
    <div class="login-main-text">
      <h2>
        Password Creator<br />
        Create Page
      </h2>
      <p>
        Enter how many passwords you want and how long you want them to be.
      </p>
      <br />
      <br />
      <br />
      <h3>Example:</h3>
      <p>
        set of passwords: 8 this prints 8 passwords to your screen <br />
        length of the passwords for example 25
      </p>
      <br />
      <br />
      <br />
      
    </div>
  </div>

  <div id="app" class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">

        <form id="my-form" action="http://localhost:8080/new" method="get">
          <div class="form-group">
            <label>How many Passwords you like? {% endraw %} {{ quants }} {% raw %}
              <span v-show="showi">?</span></label>
            <input v-model="message" type="text" id="Quantity" class="form-control" name="q" placeholder="Quantity as number" />
          </div>
          <div class="form-group" v-show="showi">
            <label> How long should the passwords be ?{% endraw %} {{ lengths }} {% raw %} </label>
            <input type="text" name="length" id="lengthh" class="form-control" placeholder="length as a number" v-model="len" />
          </div>
          <input type="submit" class="btn btn-black" value="submit" />
        </form>
        <script>
          document.getElementById("my-form").addEventListener("submit", function(event) {
            let Quantity = document.getElementById("Quantity").value;
            let lengthh = document.getElementById("lengthh").value;

            if (Quantity==="") {
              alert("Please enter a number for the quantity of passwords you want");
              event.preventDefault();
            } else if (lengthh==="") {
              alert("Please enter a number for the length of the passwords you want");
              event.preventDefault();
              
            }

            if (isNaN(Quantity)) {
              alert("Please enter a number for the quantity of passwords you want");
              event.preventDefault();
            } else if (isNaN(lengthh)) {
              alert("Please enter a number for the length of the passwords you want");
              event.preventDefault();
            }
          })
        </script>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../static/js/main.js"></script>
  {% endraw %}
</body>

</html>