<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/index.css" type="text/css">
    <title>FLask-Password-App</title>
</head>
<body>

<div id="field">

    <div id="inputs">
        <form action="http://0.0.0.0:8000/new" method="POST">
            <ul style="list-style:none;">
                <li><input name="q" type="text" placeholder="quantity"> - Anzahl der Passwörter</li>
                <li><input name="length" id="lenght" type="text" placeholder="Passwortlänge"> - Länge des Passworts als Int </li>
                
                <li><input type="submit"></li>
            </ul>
        </form>
    </div>
    
    
    <div id="placeforoutput"></div>

</div>

</body>
</html>