<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/formstyle.css" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <title>Password Strength Checker</title>
</head>

<body>
  <div class="sidenav">
    <div class="login-main-text">
      <h2>Password Strength Checker</h2>
      <p>Enter your password below to check its strength and security.</p>
    </div>
  </div>

  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form method="POST" action="http://localhost:8080/strength/check">
          <div class="form-group">
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="pw" class="form-control" required placeholder="Your password" />
          </div>
          <button type="submit" class="btn btn-black">Check Password</button>
        </form>
      </div>
    </div>
  </div>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
